@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: bolder bolder 20px/25px "Open Sans", sans-serif;
background: #ffffff;
}

.container{
padding: 20px;
width: 500px;
margin: 0 auto;
margin-top: 40px;
background: rgb(164, 224, 158);
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#030611;
color:#97d0eb;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}
ol li {padding: 5px;color:#000;}
ol li:nth-child(even){background: #46d175;}
.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #000000;
	font-weight: 800;
}
h2{
	text-align:center
}
